<!DOCTYPE html>
<html>
  <head>
    <title>GiganticEMU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "application/navbar" %>
    <%= render "application/container" %>
  </body>

  <%= render "application/footer" %>
</html>
